%html
  %head
    %meta{charset:"utf-8"}
    %meta{name:"viewport",content:"width=device-width,intial-scale=1.0"}
    %title {block:PostTitle}{PostTitle}: {/block:PostTitle}{Title}
    %link{rel:"stylesheet",href:"http://lucasbetinardi.com/css/screen.css"}
    %link{rel:"stylesheet",href:"http://fonts.googleapis.com/css?family=Lato:100,300,400",type:"text/css"}
    %link{rel:"alternate",type:"application/rss+xml",href:"{RSS}"}

  %body
    %h1 {Title}
      
    .main
      {block:Posts}
      {block:Text}
      .post-text
        {block:Title}
        %h1 
          %a{href:"{Permalink}"} {Title}
        {/block:Title}
        .content
          {Body}
        .metadata
          %ul
            {block:Date}
            %li
              %a{href:"{Permalink}"} {ShortMonth}. {DayOfMonth} {Year}
            {/block:Date}
            {block:HasTags}
              {block:Tags}
              %li
                %a{href:"{TagURL}"} \#{Tag}
              {/block:Tags}
            {/block:HasTags}
      {/block:Text}
      
      {block:Photo}
      .post-photo
        {LinkOpenTag}
        %a{href:"{Permalink}"}
          %img{src:"{PhotoURL-HighRes}",alt:"{PhotoAlt}"}
        {LinkCloseTag}
        {block:Caption}
          {Caption}
        {/block:Caption}
        .metadata
          %ul
            {block:Date}
            %li
              %a{href:"{Permalink}"} {ShortMonth}. {DayOfMonth} {Year}
            {/block:Date}
            {block:HasTags}
              {block:Tags}
              %li
                %a{href:"{TagURL}"} \#{Tag}
              {/block:Tags}
            {/block:HasTags}
      {/block:Photo}
      {/block:Posts}
    
    .footer
      %footer
        %p Get the
          %a{href:"{RSS}"} feed for this blog
        %small Theme by
          %a{href:"{http://lucasbetinardi.com}"} Lucas Betinardi